@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

$primary: #7785fe;
$white: #fff;
$text-dark: #616b74;
$text-darker: #465059;
$text-light: #8e9ba7;
$light-gray: #cccfd3;
$lighter-gray: #f5f5f5;
$logo-size: 50px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  background-color: $primary;
  color: $text-dark;
  padding: 3rem 0.5rem 0.5rem;
}

.container {
  width: 400px;
  background-color: $white;
  border-radius: 1rem;
  padding: 1.5rem 1rem 1rem 1.5rem;
}
.lock-logo-div {
  position: absolute;
  top: calc($logo-size / -2);
  left: 1rem;
  height: $logo-size;
  width: $logo-size;
  background-color: $white;
  border: 6px solid $primary;
  display: flex;
  justify-content: center;
  align-items: center;
}
