@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

$primary: #7785fe;
$white: #fff;
$text-dark: #616b74;
$text-darker: #465059;
$text-light: #8e9ba7;
$light-gray: #cccfd3;
$lighter-gray: #f5f5f5;
$logo-size: 50px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  background-color: $primary;
}
